<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="description" content="">
	<meta name="author" content="">
	<title>VSO</title>
	<!-- Fonts and Icons -->
	<link href="assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap core CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- CSS Files -->
    <link href="assets/css/style.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>
<body>
	<div class="row g-0 p-lg-0 px-4 py-4 mt-lg-0 mt-2">
		<div class="col-xl-auto pe-xl-0 pe-lg-5">
			<div class="row g-0">
				<!-- nav menu -->
				<div class="col-lg-auto position-relative">
					<nav class="slide navbar-expand-lg navbar-light bg-white fw-bold" id="mySidenav">
						<a class="navbar-brand d-lg-block d-none mx-auto" href="#">
							<img src="assets/img/logo.png" alt="" class="logo">
						</a>
						<div class="row g-0 d-lg-none d-flex pb-4 align-items-center">
							<div class="col">
								<div class="row g-0 user-info justify-content-center">
									<div class="col-auto">
										<img src="assets/img/avatar2.png" alt="" class="avatar">
									</div>
									<div class="col align-self-center ps-2 ms-1">
										<div class="user_name fw-bold d-block">
											Kalin Iliev
										</div>
										<div class="role text-xs text-warm-grey d-block">
											Студент
										</div>
									</div>
								</div>
							</div>
							<div class="col-auto ms-auto">
								<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
							</div>
						</div>
						<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
							<div class="pt-lg-5">
								<ul class="nav d-block col-12 pb-2">
									<li class="nav-item align-items-center mb-lg-5">
										<div class="dropdown">
											<a href="" class="d-flex align-items-center dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="icon">
													<img src="assets/img/Courses.svg" alt="">
												</span>
												<span class="slide-item text-navy-blue">
													Курсове 
													<span>
														<img src="assets/img/arrow.svg" alt="" class="ms-4">
													</span>
												</span>
											</a>
											
										</div>
									</li>
									<li class="nav-item align-items-center mb-lg-5">
										<div class="dropdown">
											<a href="" class="d-flex align-items-center dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="icon">
													<img src="assets/img/Events.svg" alt="">
												</span>
												<span class="slide-item text-navy-blue">
													Събития
													<img src="assets/img/arrow.svg" alt="" class="ms-4">
												</span>
											</a>
											
										</div>
									</li>
								</ul>
								<div class="row  d-lg-flex d-none g-0 user-info py-lg-4 justify-content-center">
									<div class="col-auto">
										<img src="assets/img/avatar2.png" alt="" class="avatar">
									</div>
									<div class="col align-self-center ps-4">
										<div class="user_name fw-bold lh-xs d-block">
											Kalin Iliev
										</div>
										<div class="role fw-normal lh-xs d-block text-xs text-warm-grey">
											Студент
										</div>
									</div>
								</div>
								<div class="row g-0 pt-lg-2">
									<ul class="nav">
										<li class="nav-item w-100">
											<a href="" class="d-flex fw-bold">
												<img src="assets/img/Log_out.svg" alt="">
												<span class="slide-item text-navy-blue">
													Изход
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="toogler d-flex justify-content-end mb-lg-4 d-lg-block d-none">
									<div class="pill d-flex align-items-center float-right rounded-circle overflow-hidden">
										<a class="btn px-2 col p-0 text-center" id="toggleNav">
											<img src="assets/img/arrow.svg" alt="">
										</a>
									</div>
								</div>
								<div class="position-relative d-lg-block d-none">
									<div class="notifications-bar text-center pt-lg-4 position-absolute">
										<div class="notification-icon">
											<img src="assets/img/bell.svg" alt="">
										</div>
										<div class="notification-text fw-bold pt-4 mt-2 mx-auto">
											<div>Нещо</div>
											<div>важно</div>
										</div>
										<div class="row g-0 py-3 mb-2">
											<div class="col text-left ps-4 ms-2">
												Виж
											</div>
											<div class="col text-right pe-4 me-2">
												<i class="fas fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</div>	
				<!-- nav menu END -->  
		<!--Mobil-->
		<div class=" d-lg-none row g-0">
			<div class="row ms-1 mb-3">
				<div id="kursove" class="col-2 mt-2 text-xxl text-uppercase fw-bold">КУРСОВЕ</div>
				<div class="col-7 ms-4 mt-1">
					<div class=" d-flex">
						<button class="btn-green btn-admin-2-mobile d-flex py-0 px-3">
                            <div class="row w-100 g-0 align-self-center">
                                <div class="col text-start">
                                    <span class="fw-bold text-xs">Създай</span>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <img src="assets/img/action_icon.svg">
                                </div>
                            </div>
                        </button>
					</div>
				</div>
			</div>
			<div class="col-lg-auto text-xxl ms-4 text-lg-uppercase text-uppercase fw-bold pe-lg-2 me-lg-1 text-navy-blue mt-3">
				АКТУАЛНИ
			</div>
			<div class="row g-0">
                <div class="col d-flex flex-nowrap mobile-courses">
                    <!-- Courses -->
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
                                <img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End courses -->
                </div>
            </div>
			<div class="col-lg-auto text-xxl ms-4 text-lg-uppercase text-uppercase fw-bold pe-lg-2 me-lg-1 text-warm-grey mt-1">
				ПРЕДСТОЯЩИ
			</div>
			<div class="row g-0">
                <div class="col d-flex flex-nowrap mobile-courses">
                    <!-- Courses -->
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
                                <img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End courses -->
                </div>
            </div>
			<div class="col-lg-auto text-xxl ms-4 text-lg-uppercase text-uppercase fw-bold pe-lg-2 me-lg-1 text-warm-grey mt-1">
				ИЗМИНАЛИ
			</div>
            <div class="row g-0">
                <div class="col d-flex flex-nowrap mobile-courses">
                    <!-- Courses -->
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
                                <img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End courses -->
                </div>
            </div>
		</div>
		<!-- end mobil-->
		<!-- right side -->
		<div class=" col-xl d-none d-lg-block pt-md-5 mt-md-4 tab-content edit-content-admin">
			<!-- Single lection content -->	
			<div class="row g-0">
                <div class="col"><h1 class="admin-text-2 title-text text-uppercase mb-5">
					Курсове
				</h1>
            </div>
				<div class="col">
                    <div class="d-flex justify-content-center px-5">
                        <div class="search"> <input type="text" class="search-input text-warm-grey fw-bold" placeholder="Потърси курс" name="">  <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i> </a></span> </div>
                    </div>
                </div>
                <div class="col btn-ceate-curse">
                    <button class="btn-edit btn-green row g-0 align-items-center">
                        <div class="col text-start fw-bold">СЪЗДАЙ КУРС</div>
                        <div class="col-auto">
                            <img  src="assets/img/action_icon.svg" alt="">
                        </div>
                    </button>
                </div>
			</div>
			<div>
				<h3 class="admin-text-2 title-text fw-bold text-uppercase">
					Актуални
				</h3>
			</div>
			<div class="row g-0">
                <div class="col d-flex flex-nowrap admin-course">
                    <!-- Courses -->
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
                                <img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					
					
                    <!-- End courses -->
                </div>
            </div>
			<div>
				<h3 class="admin-text-2 title-text text-uppercase fw-bold text-warm-grey">
					ПРедстоящи
				</h3>
			</div>	
			<div class="row g-0">
                <div class="col d-flex flex-nowrap admin-course">
                    <!-- Courses -->
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
                                <img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					
					
                    <!-- End courses -->
                </div>
            </div>
			<div>
				<h3 class="fw-bold title-text text-uppercase text-warm-grey mb-1">
					Изминали
				</h3>
			</div>
            <div class="row g-0">
                <div class="col d-flex flex-nowrap admin-course">
                    <!-- Courses -->
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
                                <img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="course-admin">
                        <div class="row g-0">
                            <div class="col-auto">
								<img src="assets/img/Programirane.svg">
                            </div>
                            <div class="col text-end">
                                <span class="fw-bold course-status-active ">Активен</span>
                            </div>
                        </div>
                        <div class="row g-0 mt-4 d-flex align-items-center">
                            <div class="col">
                                <p class="m-0 p-0 pe-4 course-title text-navy-blue fw-bold">Програмиране</p>
                            </div>
                            <div class="col-auto">
                                <button class="btn-green view-course-admin-btn d-flex py-0 px-3">
                                    <div class="row w-100 g-0 align-self-center">
                                        <div class="col text-start">
                                            <span class="fw-bold">Виж</span>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <img src="assets/img/action_icon.svg">
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
					
					
                    <!-- End courses -->
                </div>
            </div>	
		</div>
		<!-- right side END -->
		
	</div>
	<!-- Bootstrap core JS Files -->
	<script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/main.js" type="text/javascript"></script>
	<script type= "text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
</body>
</html>